<!--
Authors:
    Name: Rotem Adhoh   ID: 301738845
    Name: Zeev Manilovich   ID: 360609436
    Name: Miri Kuskina   ID: 313926677
    Name: Lital Gilboa   ID: 21713995
-->

@model IEnumerable<ShaulisBlog.Models.Fan>

<!-- Render FanClub CSS -->
@Styles.Render("~/FanClubContent/css")

@{
    ViewBag.Title = "Index";
}

<script> Selected("#fan"); </script>

<!-- Search section -->
<section id="search">
    @using (Ajax.BeginForm("FilterFans", "FanClub", new AjaxOptions
    {
        HttpMethod = "Post",
        UpdateTargetId = "FanTable"
    }))
    {
        <h2>Search Fan</h2>
        <p>
            <label for="firstName">First Name:</label>
            <input name="firstName" id="firstName" type="text" />
        </p>
        <p>
            <label for="minAge">Minimum Age:</label>
            <input name="minAge" id="minAge" type="number" />
        </p>
        <p>
            <label for="minSeniority">Minimum Seniority:</label>
            0<input name="minSeniority" id="minSeniority" type="range" min="0" max="10" value="0" />10
        </p>
        <p><input type="submit" value="Search" /></p>
    }
</section>

@{
    if (User.IsInRole("Administrator")) //user logged & admin
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <div id="FanTable">
            @Html.Partial("_FanTable")
        </div>
    }
}

