@Styles.Render("~/Blog/css")

<hgroup class="title">
    <h2>This awesome blog was developed by:</h2>
</hgroup>

<script> Selected("#contact"); </script>


    <p>
        <h1>
            Rotem Adhoh <br />
            Zeev Manilovich <br />
            Miri Kuskina <br />
            Lital Gilboa
        </h1>
    </p>


<h2>Contact</h2>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>
